{{define "title"}}Create a New Feed{{end}} {{define "main"}}
<form action="/feeds/new" method="POST">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="{{.Feed.Title}}" />
    {{with .FieldErrors.title}}
    <span style="color: red">{{.}}</span>
    {{end}}
  </div>
  <div>
    <label>Description:</label>
    <textarea name="description">{{.Feed.Description}}</textarea>
    {{with .FieldErrors.description}}
    <span style="color: red">{{.}}</span>
    {{end}}
  </div>
  <div>
    <input type="submit" value="Create Feed" />
  </div>
</form>
{{end}}
