<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Home - RSS App</title>
</head>

<body>
  <header>
    <h1><a href="/">RSS App</a></h1>
  </header>
  <main>
    {{if eq (len .Feeds) 0}}
      <p>No feeds exist yet. <a href="/feed/create">Create your first feed!</a></p>
    {{else}}
      <h2>Latest Feeds</h2>
      <ul>
        {{range .Feeds}}
          <li>
            <a href="/feed/view/{{.ID}}">{{.Title}}</a>
            {{if .Description}}
              <p>{{.Description}}</p>
            {{end}}
          </li>
        {{end}}
      </ul>
    {{end}}
  </main>
  <footer>Powered by <a href="https://golang.org/">Go</a></footer>
</body>

</html>
