{{define "nav"}}
<nav>
  <div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <!-- Toggle the link based on authentication status -->
    {{if .IsAuthenticated}}
    <a href="/feeds/new">Create feed</a>
    {{end}}
  </div>
  <div>
    <!-- Toggle the links based on authentication status -->
    {{if .IsAuthenticated}}
    <form action="/user/logout" method="POST">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
      <button>Logout</button>
    </form>
    {{else}}
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    {{end}}
  </div>
</nav>
{{end}}
